<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Ekomi Feedback Reviews</title>

        <!-- Link main CSS file and additional fonts -->
        <link href="{{ plugin_path('EkomiFeedback') }}/css/main.css" rel="stylesheet">
    </head>

    <body>
        <!-- To Do list -->
        <div class="list">
            <h1 class="header">EkomiFeedback Reviews</h1>

            <ul class="tasks">
                {% if tasks is not null %}
                    {% for review in tasks %}
                        <li>
                            Id: <span class="task">{{ review.id }}</span> <br/>
                            ShopId: <span class="task">{{ review.shopId }}</span> <br/>
                            OrderId: <span class="task">{{ review.orderId }}</span> <br/>
                            ProductId: <span class="task">{{ review.productId }}</span> <br/>
                            Timestamp: <span class="task">{{ review.timestamp }}</span> <br/>
                            Stars: <span class="task">{{ review.stars }}</span> <br/>
                            ReviewComment: <span class="task">{{ review.reviewComment }}</span> <br/>
                            Helpful: <span class="task">{{ review.helpful }}</span> <br/>
                            Nothelpful: <span class="task">{{ review.nothelpful }}</span> 
                        </li> 
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </body>
</html>